Import libraries

In [28]:
import pandas as pd
import glob
import os

Adding metadata and loading datasets

In [29]:
files = glob.glob("../raw_data/*.csv")
print("Found files:", files)

all_datasets = []
for file in files:
    df = pd.read_csv(file)
    
    filename = os.path.basename(file)
    campus_name = filename.split("_")[0]
    dataset_type = filename.split("_")[1].split(".")[0]
    
    df["Source_Campus_File"] = filename
    df["Campus_Name"] = campus_name
    
    campus_map = {
        "Kigali": "KIG-25",
        "Huye": "HUY-26",
        "Musanze": "MUS-27"
    }
    
    df["Campus_ID"] = campus_map.get(campus_name, "Unknown")
    df["Dataset_Type"] = dataset_type
    
    all_datasets.append(df)

print("Datasets loaded:", len(all_datasets))

Found files: ['../raw_data\\Huye_assessments.csv', '../raw_data\\Huye_courses.csv', '../raw_data\\Huye_students.csv', '../raw_data\\Kigali_assessments.csv', '../raw_data\\Kigali_courses.csv', '../raw_data\\Kigali_students.csv', '../raw_data\\Musanze_assessments.csv', '../raw_data\\Musanze_courses.csv', '../raw_data\\Musanze_students.csv']
Datasets loaded: 9

Quick Data Check (Profiling)

In [ ]:
# Full profiling for all datasets
# Ensure all rows and columns show up
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 20)

# Load CSV files
files = glob.glob("../raw_data/*.csv")  # adjust path if needed
print(f"Found {len(files)} files:", files, "\n")

all_datasets = []

campus_map = {
    "Kigali": "KIG-25",
    "Huye": "HUY-26",
    "Musanze": "MUS-27"
}

for file in files:
    df = pd.read_csv(file)
    
    filename = os.path.basename(file)
    campus_name = filename.split("_")[0]
    dataset_type = filename.split("_")[1].split(".")[0]
    
    # Add metadata
    df["Source_Campus_File"] = filename
    df["Campus_Name"] = campus_name
    df["Campus_ID"] = campus_map.get(campus_name, "Unknown")
    df["Dataset_Type"] = dataset_type
    
    all_datasets.append(df)

print(f"Loaded {len(all_datasets)} datasets successfully!\n")

# ----------------------------
# Profile each dataset
# ----------------------------
for i, df in enumerate(all_datasets, 1):
    dataset_name = df['Dataset_Type'].iloc[0]
    campus_name = df['Campus_Name'].iloc[0]
    
    print("="*80)
    print(f"Dataset {i}/{len(all_datasets)}: {dataset_name} | Campus: {campus_name}")
    print("-"*80)
    
    # Shape and column types
    print(f"Shape: {df.shape}\n")
    print("Column types:")
    print(df.dtypes, "\n")
    
    # Missing values
    print("Missing values per column:")
    print(df.isnull().sum(), "\n")
    
# Numeric summary
    numeric_cols = df.select_dtypes(include='number').columns
    if len(numeric_cols) > 0:
        print("Numeric summary:")
        print(df[numeric_cols].describe(), "\n")
    
    # Categorical summary
    cat_cols = df.select_dtypes(include=['object', 'string']).columns
    if len(cat_cols) > 0:
        print("Categorical summary:")
        for col in cat_cols:
            print(f"{col}: {df[col].nunique()} unique values")
    
    print("\n\n")

Found 9 files: ['../raw_data\\Huye_assessments.csv', '../raw_data\\Huye_courses.csv', '../raw_data\\Huye_students.csv', '../raw_data\\Kigali_assessments.csv', '../raw_data\\Kigali_courses.csv', '../raw_data\\Kigali_students.csv', '../raw_data\\Musanze_assessments.csv', '../raw_data\\Musanze_courses.csv', '../raw_data\\Musanze_students.csv']

Loaded 9 datasets successfully!

================================================================================
Dataset 1/9: assessments | Campus: Huye
--------------------------------------------------------------------------------
Shape: (50, 12)

Column types:
Student_ID                str
Course_Code               str
Assessment_Type           str
Mark                  float64
Assessment_Date           str
Academic_Year             str
Semester                int64
Attendance_Rate       float64
Source_Campus_File        str
Campus_Name               str
Campus_ID                 str
Dataset_Type              str
dtype: object

Missing values per column:
Student_ID             0
Course_Code            0
Assessment_Type        0
Mark                  15
Assessment_Date        0
Academic_Year          0
Semester               0
Attendance_Rate       10
Source_Campus_File     0
Campus_Name            0
Campus_ID              0
Dataset_Type           0
dtype: int64

Numeric summary:
             Mark   Semester  Attendance_Rate
count   35.000000  50.000000        40.000000
mean    42.114286   1.480000         0.862500
std     48.959630   0.504672         0.220358
min     -5.000000   1.000000         0.600000
25%     -5.000000   1.000000         0.600000
50%     42.000000   1.000000         0.800000
75%     96.500000   2.000000         1.100000
max    105.000000   2.000000         1.100000

Categorical summary:
Student_ID: 29 unique values
Course_Code: 4 unique values
Assessment_Type: 3 unique values
Assessment_Date: 49 unique values
Academic_Year: 1 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Campus_ID: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 2/9: courses | Campus: Huye
--------------------------------------------------------------------------------
Shape: (4, 7)

Column types:
Course_Code             str
Course_Title            str
Credits               int64
Campus_ID               str
Source_Campus_File      str
Campus_Name             str
Dataset_Type            str
dtype: object

Missing values per column:
Course_Code           0
Course_Title          0
Credits               0
Campus_ID             0
Source_Campus_File    0
Campus_Name           0
Dataset_Type          0
dtype: int64

Numeric summary:
       Credits
count  4.00000
mean   3.50000
std    0.57735
min    3.00000
25%    3.00000
50%    3.50000
75%    4.00000
max    4.00000

Categorical summary:
Course_Code: 4 unique values
Course_Title: 4 unique values
Campus_ID: 1 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 3/9: students | Campus: Huye
--------------------------------------------------------------------------------
Shape: (41, 11)

Column types:
Student_ID              str
Full_Name               str
Gender                  str
DOB                     str
Program                 str
Level                 int64
Intake_Year           int64
Source_Campus_File      str
Campus_Name             str
Campus_ID               str
Dataset_Type            str
dtype: object

Missing values per column:
Student_ID             0
Full_Name              0
Gender                14
DOB                   21
Program                0
Level                  0
Intake_Year            0
Source_Campus_File     0
Campus_Name            0
Campus_ID              0
Dataset_Type           0
dtype: int64

Numeric summary:
           Level  Intake_Year
count  41.000000    41.000000
mean    2.073171  2022.975610
std     0.848241     0.851111
min     1.000000  2022.000000
25%     1.000000  2022.000000
50%     2.000000  2023.000000
75%     3.000000  2024.000000
max     3.000000  2024.000000

Categorical summary:
Student_ID: 40 unique values
Full_Name: 23 unique values
Gender: 2 unique values
DOB: 20 unique values
Program: 8 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Campus_ID: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 4/9: assessments | Campus: Kigali
--------------------------------------------------------------------------------
Shape: (50, 12)

Column types:
Student_ID                str
Course_Code               str
Assessment_Type           str
Mark                  float64
Assessment_Date           str
Academic_Year             str
Semester                int64
Attendance_Rate       float64
Source_Campus_File        str
Campus_Name               str
Campus_ID                 str
Dataset_Type              str
dtype: object

Missing values per column:
Student_ID             0
Course_Code            0
Assessment_Type        0
Mark                  10
Assessment_Date        0
Academic_Year          0
Semester               0
Attendance_Rate        9
Source_Campus_File     0
Campus_Name            0
Campus_ID              0
Dataset_Type           0
dtype: int64

Numeric summary:
             Mark   Semester  Attendance_Rate
count   40.000000  50.000000        41.000000
mean    55.075000   1.500000         0.787805
std     45.942767   0.505076         0.208800
min     -5.000000   1.000000         0.600000
25%     -5.000000   1.000000         0.600000
50%     66.000000   1.500000         0.800000
75%    105.000000   2.000000         1.100000
max    105.000000   2.000000         1.100000

Categorical summary:
Student_ID: 28 unique values
Course_Code: 4 unique values
Assessment_Type: 3 unique values
Assessment_Date: 50 unique values
Academic_Year: 1 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Campus_ID: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 5/9: courses | Campus: Kigali
--------------------------------------------------------------------------------
Shape: (4, 7)

Column types:
Course_Code             str
Course_Title            str
Credits               int64
Campus_ID               str
Source_Campus_File      str
Campus_Name             str
Dataset_Type            str
dtype: object

Missing values per column:
Course_Code           0
Course_Title          0
Credits               0
Campus_ID             0
Source_Campus_File    0
Campus_Name           0
Dataset_Type          0
dtype: int64

Numeric summary:
       Credits
count  4.00000
mean   3.50000
std    0.57735
min    3.00000
25%    3.00000
50%    3.50000
75%    4.00000
max    4.00000

Categorical summary:
Course_Code: 4 unique values
Course_Title: 4 unique values
Campus_ID: 1 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 6/9: students | Campus: Kigali
--------------------------------------------------------------------------------
Shape: (41, 11)

Column types:
Student_ID              str
Full_Name               str
Gender                  str
DOB                     str
Program                 str
Level                 int64
Intake_Year           int64
Source_Campus_File      str
Campus_Name             str
Campus_ID               str
Dataset_Type            str
dtype: object

Missing values per column:
Student_ID             0
Full_Name              0
Gender                15
DOB                   18
Program                0
Level                  0
Intake_Year            0
Source_Campus_File     0
Campus_Name            0
Campus_ID              0
Dataset_Type           0
dtype: int64

Numeric summary:
           Level  Intake_Year
count  41.000000    41.000000
mean    2.000000  2022.926829
std     0.921954     0.720772
min     1.000000  2022.000000
25%     1.000000  2022.000000
50%     2.000000  2023.000000
75%     3.000000  2023.000000
max     3.000000  2024.000000

Categorical summary:
Student_ID: 40 unique values
Full_Name: 23 unique values
Gender: 2 unique values
DOB: 22 unique values
Program: 8 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Campus_ID: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 7/9: assessments | Campus: Musanze
--------------------------------------------------------------------------------
Shape: (50, 12)

Column types:
Student_ID                str
Course_Code               str
Assessment_Type           str
Mark                  float64
Assessment_Date           str
Academic_Year             str
Semester                int64
Attendance_Rate       float64
Source_Campus_File        str
Campus_Name               str
Campus_ID                 str
Dataset_Type              str
dtype: object

Missing values per column:
Student_ID             0
Course_Code            0
Assessment_Type        0
Mark                  16
Assessment_Date        0
Academic_Year          0
Semester               0
Attendance_Rate       10
Source_Campus_File     0
Campus_Name            0
Campus_ID              0
Dataset_Type           0
dtype: int64

Numeric summary:
             Mark   Semester  Attendance_Rate
count   34.000000  50.000000        40.000000
mean    53.941176   1.440000         0.785000
std     45.918862   0.501427         0.203243
min     -5.000000   1.000000         0.600000
25%     -5.000000   1.000000         0.600000
50%     59.500000   1.000000         0.800000
75%    105.000000   2.000000         0.875000
max    105.000000   2.000000         1.100000

Categorical summary:
Student_ID: 32 unique values
Course_Code: 4 unique values
Assessment_Type: 3 unique values
Assessment_Date: 50 unique values
Academic_Year: 1 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Campus_ID: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 8/9: courses | Campus: Musanze
--------------------------------------------------------------------------------
Shape: (4, 7)

Column types:
Course_Code             str
Course_Title            str
Credits               int64
Campus_ID               str
Source_Campus_File      str
Campus_Name             str
Dataset_Type            str
dtype: object

Missing values per column:
Course_Code           0
Course_Title          0
Credits               0
Campus_ID             0
Source_Campus_File    0
Campus_Name           0
Dataset_Type          0
dtype: int64

Numeric summary:
       Credits
count  4.00000
mean   3.50000
std    0.57735
min    3.00000
25%    3.00000
50%    3.50000
75%    4.00000
max    4.00000

Categorical summary:
Course_Code: 4 unique values
Course_Title: 4 unique values
Campus_ID: 1 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Dataset_Type: 1 unique values



================================================================================
Dataset 9/9: students | Campus: Musanze
--------------------------------------------------------------------------------
Shape: (41, 11)

Column types:
Student_ID              str
Full_Name               str
Gender                  str
DOB                     str
Program                 str
Level                 int64
Intake_Year           int64
Source_Campus_File      str
Campus_Name             str
Campus_ID               str
Dataset_Type            str
dtype: object

Missing values per column:
Student_ID             0
Full_Name              0
Gender                11
DOB                   22
Program                0
Level                  0
Intake_Year            0
Source_Campus_File     0
Campus_Name            0
Campus_ID              0
Dataset_Type           0
dtype: int64

Numeric summary:
           Level  Intake_Year
count  41.000000     41.00000
mean    2.146341   2023.00000
std     0.792495      0.83666
min     1.000000   2022.00000
25%     2.000000   2022.00000
50%     2.000000   2023.00000
75%     3.000000   2024.00000
max     3.000000   2024.00000

Categorical summary:
Student_ID: 40 unique values
Full_Name: 25 unique values
Gender: 2 unique values
DOB: 19 unique values
Program: 7 unique values
Source_Campus_File: 1 unique values
Campus_Name: 1 unique values
Campus_ID: 1 unique values
Dataset_Type: 1 unique values