Load libraries and dataset

In [117]:
import pandas as pd
import os

gold_path = "integrated_datasets/gold_integrated.csv"
gold_df = pd.read_csv(gold_path)

print("Gold dataset shape:", gold_df.shape)
gold_df.head()

Gold dataset shape: (143, 33)

,Student_ID,Course_Code,Mark,Assessment_Date,Academic_Year,Semester,Attendance_Rate,Source_Campus_File_x,Campus_ID,Dataset_Type_x,...,Level,Intake_Year,Source_Campus_File_y,Campus_Name_x,Dataset_Type_y,Course_Title,Credits,Source_Campus_File,Campus_Name_y,Dataset_Type
0,HUY-26125,CS104,66.5,2023-06-16,2024/2025,1,0.8,Huyeassessmentscsv,HUY-26,assessments,...,1,2024,Huyestudentscsv,Huye,students,Machine Learning,4.0,Huyecoursescsv,Huye,courses
1,HUY-26118,CS103,62.0,2023-01-08,2024/2025,2,0.6,Huyeassessmentscsv,HUY-26,assessments,...,2,2023,Huyestudentscsv,Huye,students,Cyber security,3.0,Huyecoursescsv,Huye,courses
2,HUY-26115,CS101,69.0,2023-01-08,2024/2025,1,0.6,Huyeassessmentscsv,HUY-26,assessments,...,3,2022,Huyestudentscsv,Huye,students,Programming,3.0,Huyecoursescsv,Huye,courses
3,HUY-26107,CS102,66.5,2023-01-08,2024/2025,2,0.8,Huyeassessmentscsv,HUY-26,assessments,...,1,2022,Huyestudentscsv,Huye,students,Databases,4.0,Huyecoursescsv,Huye,courses
4,HUY-26105,CS101,58.0,2023-01-08,2024/2025,2,1.0,Huyeassessmentscsv,HUY-26,assessments,...,3,2024,Huyestudentscsv,Huye,students,Programming,3.0,Huyecoursescsv,Huye,courses

Check missing values

In [118]:
missing_percent = gold_df.isnull().mean() * 100
missing_percent.sort_values(ascending=False)

Student_ID                   0.0
Course_Code                  0.0
Mark                         0.0
Assessment_Date              0.0
Academic_Year                0.0
Semester                     0.0
Attendance_Rate              0.0
Source_Campus_File_x         0.0
Campus_ID                    0.0
Dataset_Type_x               0.0
Mark_scaled                  0.0
Attendance_Rate_scaled       0.0
Campus_Name_Huye             0.0
Campus_Name_Kigali           0.0
Campus_Name_Musanze          0.0
Assessment_Type_CAT          0.0
Assessment_Type_Formative    0.0
Assessment_Type_Summative    0.0
Performance_Band             0.0
Full_Name                    0.0
Gender                       0.0
DOB                          0.0
Program                      0.0
Level                        0.0
Intake_Year                  0.0
Source_Campus_File_y         0.0
Campus_Name_x                0.0
Dataset_Type_y               0.0
Course_Title                 0.0
Credits                      0.0
Source_Campus_File           0.0
Campus_Name_y                0.0
Dataset_Type                 0.0
dtype: float64

Remove irrelevant metadata columns

In [119]:
irrelevant_cols = [
    'Source_Campus_File',
    'Source_Campus_File_x',
    'Source_Campus_File_y',
    'Dataset_Type',
    'Dataset_Type_x',
    'Dataset_Type_y'
]

gold_df.drop(
    columns=[c for c in irrelevant_cols if c in gold_df.columns],
    inplace=True
)

print("Irrelevant metadata removed.")
print("Shape:", gold_df.shape)

Irrelevant metadata removed.
Shape: (143, 27)

Remove non-analytical identifier

In [120]:
gold_df.drop(columns=['Full_Name'], inplace=True, errors='ignore')
print("Name column removed.")
# If Campus_Name_x and Campus_Name_y are identical, keep one
gold_df['Campus_Name'] = gold_df['Campus_Name_x'].combine_first(gold_df['Campus_Name_y'])

# Drop the original duplicated columns
gold_df.drop(columns=['Campus_Name_x', 'Campus_Name_y'], inplace=True)

Name column removed.

Final dataset check

In [121]:
gold_df.info()
gold_df.head()

<class 'pandas.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Student_ID                 143 non-null    str
 1   Course_Code                143 non-null    str
 2   Mark                       143 non-null    float64
 3   Assessment_Date            143 non-null    str
 4   Academic_Year              143 non-null    str
 5   Semester                   143 non-null    int64
 6   Attendance_Rate            143 non-null    float64
 7   Campus_ID                  143 non-null    str
 8   Mark_scaled                143 non-null    float64
 9   Attendance_Rate_scaled     143 non-null    float64
 10  Campus_Name_Huye           143 non-null    int64
 11  Campus_Name_Kigali         143 non-null    int64
 12  Campus_Name_Musanze        143 non-null    int64
 13  Assessment_Type_CAT        143 non-null    int64
 14  Assessment_Type_Formative  143 non-null    int64
 15  Assessment_Type_Summative  143 non-null    int64
 16  Performance_Band           143 non-null    str
 17  Gender                     143 non-null    str
 18  DOB                        143 non-null    str
 19  Program                    143 non-null    str
 20  Level                      143 non-null    int64
 21  Intake_Year                143 non-null    int64
 22  Course_Title               143 non-null    str
 23  Credits                    143 non-null    float64
 24  Campus_Name                143 non-null    str
dtypes: float64(5), int64(9), str(11)
memory usage: 28.1 KB

,Student_ID,Course_Code,Mark,Assessment_Date,Academic_Year,Semester,Attendance_Rate,Campus_ID,Mark_scaled,Attendance_Rate_scaled,...,Assessment_Type_Summative,Performance_Band,Gender,DOB,Program,Level,Intake_Year,Course_Title,Credits,Campus_Name
0,HUY-26125,CS104,66.5,2023-06-16,2024/2025,1,0.8,HUY-26,0.058121,0.109766,...,0,Credit,Female,2023-03-22,SOFTWARE ENG,1,2024,Machine Learning,4.0,Huye
1,HUY-26118,CS103,62.0,2023-01-08,2024/2025,2,0.6,HUY-26,-0.429581,-1.198281,...,1,Pass,Female,2023-03-22,INFORMATION TECH,2,2023,Cyber security,3.0,Huye
2,HUY-26115,CS101,69.0,2023-01-08,2024/2025,1,0.6,HUY-26,0.329067,-1.198281,...,1,Credit,Female,2023-03-22,DATA SCIENCE,3,2022,Programming,3.0,Huye
3,HUY-26107,CS102,66.5,2023-01-08,2024/2025,2,0.8,HUY-26,0.058121,0.109766,...,0,Credit,Female,2023-12-31,SOFTWARE ENG,1,2022,Databases,4.0,Huye
4,HUY-26105,CS101,58.0,2023-01-08,2024/2025,2,1.0,HUY-26,-0.863094,1.417813,...,1,Pass,Female,2023-03-22,INFORMATION TECH,3,2024,Programming,3.0,Huye

Save reduced dataset

In [122]:

os.makedirs("reduced_datasets", exist_ok=True)

reduced_path = "reduced_datasets/gold_reduced.csv"
gold_df.to_csv(reduced_path, index=False)

print("Reduced dataset saved:", reduced_path)

Reduced dataset saved: reduced_datasets/gold_reduced.csv